<h1>Edit Comment</h1>
<%= simple_form_for([@message, @comment]) do |f| %>
  <%= f.input :content, label: "Comment" %>
  <%= f.button :submit, style: 'color:#0a8fd5; background-color:black' %>
<% end %>